rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Юзеры
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      // Юзер может менять себе настройки (имя, аватар), но НЕ баланс
      allow update: if request.auth != null 
                    && request.auth.uid == userId
                    && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['balance', 'isDeleted']);
    }
    
    // Комнаты (Открыты только для чтения всем авторизованным!)
    match /rooms/{roomId} {
        allow read: if request.auth != null;
        allow write: if false; // 🚫 НИКАКОЙ ЗАПИСИ С ФРОНТЕНДА!
    }

    // Секреты (Никто не может читать или писать с фронтенда)
    match /room_secrets/{roomId} {
        allow read, write: if false; // 🚫 ТОЛЬКО ДЛЯ СЕРВЕРА!
    }
  }
}